@import './index.css';

.drop-one__box {
    position: absolute;
    overflow: hidden;
    width: 56%;
    height: 97%;
    top: -9%;
    left: 60%;
    /* transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg); */
}

.drop-one{
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0px;
}