@import './melody-list-box.css';

.player-two {
    min-height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.player-range__box-two {
    width: 100%;
    margin-top: 10px;
}

.player-range__box-two .player-range-two{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
}

.player-range__box-two .player-range-two div {
    min-width: 100%;
    min-height: 3px;
    background-color: #67abf3;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.player-range__box-two input {
    width: 100%;
    max-height: 3px;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 8px;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    background: #ff9966;
    z-index: 0;
    -webkit-transition: width 0.2s ease;
    transition: width 0.2s ease;
}

.player-range__box-two input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ff9966;
    cursor: pointer;
}

.timer__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 0px 0px;

}

.timer__box span {
    display: block;
    color: #67abf3;
}

.player-control-two {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-control-two i {
    cursor: pointer;
    margin: 0px 20px 0px 0px;
    font-size: 25px;
    color: #67abf3;
}