@import '../../../css/index.css';
@import './melody-list.css';
@import './melody-list-description.css';
@import './description-player.css';

.main-melody-list__box{
    margin: 20px 0px 0px 0px;
    width: 100%;
    display: flex;
    gap: 20px;
}

@media (max-width: 1125px){
    .main-melody-list__box {
        margin: 20px 0px 0px 0px;
        width: 100%;
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }
}